<div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="meta">
      {{user.username}}
      <div class="is-pulled-right">
        {{format_time created_at}}
      </div>
      <br>
    </div>
    <div class="text">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>
