<article>
  <a href="/dashboard" class="is-pulled-right"> &larr; Back to dashboard</a>
  <h2 class="title mt-5">Edit Post</h2><hr>
  <form class="edit-post-form">
    <div>
        <label for="post-title">Post Title</label>
      <input class="input post-title" name="post-title" 
        placeholder = "post title edits" type="text" value="{{post.title}}" />
    </div>
    <div>
      <label for="post-content">Post Content:</label>
      <input class="textarea post-content" name="post-content" 
        placeholder = "Post content edits" type="text" value="{{post.contents}}" />
      <input type="hidden" name="edit-id" value="{{_id}}" />

    </div>
    <div class="is-pulled-right">

    </div>
    <button type="submit" class="button is-success" id="saveBtn">Save Post</button>

</article>

<script src="/js/edit-post.js"></script>

