<div>
  {{> post-info post}}
</div>

<div>
  {{> comments post.comments}}
</div>

{{#if logged_in}}
<br /><br /><br>
<form class='form new-comment-form'>
  <div class='comment-group'>
    <label for='comment-name'>Tell them about it!</label>
    <input class='form-input' placeholder='Comment..' type='text' id='comment-body' name='comment-body' />
    <input type="hidden" name="post-id" value="{{post_id}}" />
  </div>
  <div class='form-group'>
    <button type='submit' class='btn btn-primary button' id='commentBtn'>Add Comment</button>
  </div>
</form>
<br> <br>

{{else}}
<div class="has-text-centered">
<h5>leave a comment?</h5>
<a href="/login" class="button is-link is-hoverable pt-1 is-outlined ">Log In</a>

</div>
{{/if}}

{{#if logged_in}}
<script src="/js/addComment.js"></script>
{{/if}}